<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.semaphore.sm"
          android:versionCode="22"
          android:versionName="2.7.0">
    
    <uses-sdk android:targetSdkVersion="17"
              android:minSdkVersion="16"/>
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>

    <application android:label="@string/app_name" android:icon="@drawable/semaphore_app_icon" >
        <activity android:name="MainActivity"
                  android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="com.semaphore.sm.SemaphoreService" >
            <intent-filter>
                <action android:name="com.semaphore.sm.SemaphoreService" >
                </action>
            </intent-filter>
        </service>
        <service android:name="com.semaphore.sai.SAIService" android:process="com.semaphore.sai" />

        <receiver android:name="com.semaphore.sm.SMBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
